.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PostData{
  margin: auto;
    padding: 8px;
    border: 1px solid green;
    width: 50%;
}
.table-container {
  display: flex;
  justify-content: center;
}
.page-container {
  width: 100vw; /* Set the desired width */
  height: 100vh; /* Set the desired height */
  margin: 0 auto; /* Center the container horizontally */
}
.registration-page-container {
  width: 100vw; /* Set the desired width */
  margin: 0 auto; /* Center the container horizontally */
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sidebar {
  background: red;
  margin: 10px;
  padding: 0 7px 0 7px;
  width: 400px;
  border-radius: 10px;
}
